<h3>Listado de Heroes</h3>

<div *ngIf="deleteHero; else nothingWasDeleted">
    <h4>Héroe borrado <small class="text-danger"> {{deleteHero}} </small> </h4>
</div>

<ng-template #nothingWasDeleted>
    <h4>No ha borrado nada..</h4>
</ng-template>


<button *ngIf="heroNames.length > 0" (click)="removeLastHero()" class="btn btn-outline-danger">Borrar último Heroe</button>

<ul class="mt-3 list-group">
    <li *ngFor="let item of heroNames" class="list-group-item"><strong>Nombre:</strong> {{item}}</li>
</ul>